@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Doughnut Dreams & Brewed Beans</h1>
    <hr />
    <img class="doughnutimg" src="doughnut.png" />
    <p class="homep">Welcome to Doughnut Dreams & Brewed Beans!</p>
    <p class="homep">To view current orders, click 'Current Orders' in the navigation bar!</p>
</div>
